<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>faacMode</key>
	<integer>0</integer>
	<key>faacEnableTNS</key>
	<true/>
	<key>faacEnableMidside</key>
	<true/>
	<key>faacShortControl</key>
	<integer>1</integer>
	<key>faacQuality</key>
	<real>100</real>
	<key>faacUseCustomLowpass</key>
	<false/>
	<key>faacBitrate</key>
	<real>6</real>
</dict>
</plist>
