<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>outputMP3</key>
	<true/>
	<key>outputFLAC</key>
	<false/>
	<key>outputOggFLAC</key>
	<false/>
	<key>outputOggVorbis</key>
	<false/>
	<key>outputSpeex</key>
	<false/>
	<key>libsndfileOutputFormats</key>
	<array/>
	<key>coreAudioOutputFormats</key>
	<array/>
	<key>outputDirectory</key>
	<string>~/Music/</string>
	<key>singleFileOutput</key>
	<false/>
	<key>useCustomNaming</key>
	<false/>
	<key>customNamingScheme</key>
	<string></string>
	<key>customNamingUseFallback</key>
	<false/>
	<key>customNamingUseTwoDigitTrackNumbers</key>
	<false/>
	<key>saveEncoderSettingsInComment</key>
	<false/>
</dict>
</plist>
