<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flacCompressionLevel</key>
	<integer>6</integer>
	<key>flacPadding</key>
	<real>4096</real>
	<key>flacExhaustiveModelSearch</key>
	<false/>
	<key>flacEnableMidSide</key>
	<true/>
	<key>flacEnableLooseMidSide</key>
	<false/>
	<key>flacQLPCoeffPrecision</key>
	<real>0</real>
	<key>flacMinPartitionOrder</key>
	<real>0</real>
	<key>flacMaxPartitionOrder</key>
	<real>4</real>
	<key>flacMaxLPCOrder</key>
	<real>8</real>
	<key>oggFLACCompressionLevel</key>
	<integer>6</integer>
	<key>oggFLACPadding</key>
	<real>4096</real>
	<key>oggFLACExhaustiveModelSearch</key>
	<false/>
	<key>oggFLACEnableMidSide</key>
	<true/>
	<key>oggFLACEnableLooseMidSide</key>
	<false/>
	<key>oggFLACQLPCoeffPrecision</key>
	<real>0</real>
	<key>oggFLACMinPartitionOrder</key>
	<real>0</real>
	<key>oggFLACMaxPartitionOrder</key>
	<real>4</real>
	<key>oggFLACMaxLPCOrder</key>
	<real>8</real>
</dict>
</plist>
