<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lameBitrate</key>
	<real>8</real>
	<key>lameEncodingEngineQuality</key>
	<integer>2</integer>
	<key>lameStereoMode</key>
	<real>0</real>
	<key>lameQuality</key>
	<real>4</real>
	<key>lameTarget</key>
	<integer>1</integer>
	<key>lameUseConstantBitrate</key>
	<false/>
	<key>lameVBRQuality</key>
	<real>80</real>
	<key>lameVariableBitrateMode</key>
	<integer>1</integer>
	<key>lameUserPreset</key>
	<integer>2</integer>
</dict>
</plist>
