<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lameBitrate</key>
	<real>8</real>
	<key>lameEncodingEngineQuality</key>
	<string>High</string>
	<key>lameMonoEncoding</key>
	<false/>
	<key>lameQuality</key>
	<real>4</real>
	<key>lameTarget</key>
	<string>Bitrate</string>
	<key>lameUseConstantBitrate</key>
	<false/>
	<key>lameVBRQuality</key>
	<real>80</real>
	<key>lameVariableBitrateMode</key>
	<string>Standard</string>
</dict>
</plist>
