<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oggFLACCompressionRatio</key>
	<integer>6</integer>
	<key>oggFLACExhaustiveModelSearch</key>
	<false/>
	<key>oggFLACEnableMidSide</key>
	<true/>
	<key>oggFLACEnableLooseMidSide</key>
	<false/>
	<key>oggFLACQLPCoeffPrecision</key>
	<real>0</real>
	<key>oggFLACMinPartitionOrder</key>
	<real>0</real>
	<key>oggFLACMaxPartitionOrder</key>
	<real>4</real>
	<key>oggFLACMaxLPCOrder</key>
	<real>8</real>
</dict>
</plist>
