<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vorbisMode</key>
	<integer>0</integer>
	<key>vorbisQuality</key>
	<real>0.3</real>
	<key>vorbisBitrate</key>
	<real>6</real>
	<key>vorbisUseConstantBitrate</key>
	<false/>
</dict>
</plist>
