<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>speexMode</key>
	<integer>2</integer>
	<key>speexDownsampleInput</key>
	<true/>
	<key>speexDenoiseInput</key>
	<false/>
	<key>speexApplyAGC</key>
	<false/>
	<key>speexTarget</key>
	<integer>0</integer>
	<key>speexEnableVBR</key>
	<false/>
	<key>speexApplyABR</key>
	<false/>
	<key>speexQuality</key>
	<real>8</real>
	<key>speexBitrate</key>
	<real>2</real>
	<key>speexComplexity</key>
	<real>3</real>
	<key>speexEnableVAD</key>
	<false/>
	<key>speexEnableDTX</key>
	<false/>
	<key>speexFramesPerPacket</key>
	<integer>1</integer>
</dict>
</plist>
