p, body {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	font-weight: 100;
}
a {
	color: #3366CC;
	text-decoration: none;
}
.title {
	font-weight: 700;
	font-size: 18pt;
}
.header {
	font-weight: 700;
	font-size: 12pt;
}
