<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>services</key>
	<array>
		<dict>
			<key>name</key>
			<string>Apple File Sharing</string>
			<key>protocol</key>
			<string>afp</string>
			<key>service</key>
			<string>_afpovertcp._tcp.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CVS PServer</string>
			<key>protocol</key>
			<string>cvs</string>
			<key>service</key>
			<string>_cvspserver._tcp.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FTP</string>
			<key>protocol</key>
			<string>ftp</string>
			<key>service</key>
			<string>_ftp._tcp.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iChalk</string>
			<key>protocol</key>
			<string>ichalk</string>
			<key>service</key>
			<string>_ichalkboard._tcp.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iChat</string>
			<key>protocol</key>
			<string>ichat</string>
			<key>service</key>
			<string>_ichat._tcp.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iChat AV</string>
			<key>protocol</key>
			<string>ichat</string>
			<key>service</key>
			<string>_presence._tcp.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iConquer</string>
			<key>protocol</key>
			<string>iconquer</string>
			<key>service</key>
			<string>_iconquer._tcp.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iPhoto</string>
			<key>protocol</key>
			<string>dpap</string>
			<key>service</key>
			<string>_dpap._tcp.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Internet Printing Protocol</string>
			<key>protocol</key>
			<string>ipp</string>
			<key>service</key>
			<string>_ipp._tcp.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iStorm</string>
			<key>protocol</key>
			<string>istorm</string>
			<key>service</key>
			<string>_istorm._tcp.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iTunes</string>
			<key>protocol</key>
			<string>daap</string>
			<key>service</key>
			<string>_daap._tcp.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Samba</string>
			<key>protocol</key>
			<string>smb</string>
			<key>service</key>
			<string>_smb._tcp.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SSH</string>
			<key>protocol</key>
			<string>ssh</string>
			<key>service</key>
			<string>_ssh._tcp.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Streaming Video</string>
			<key>protocol</key>
			<string>rtsp</string>
			<key>service</key>
			<string>_rtsp._tcp.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SubEthaEdit</string>
			<key>protocol</key>
			<string>see</string>
			<key>service</key>
			<string>_see._tcp.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Web</string>
			<key>protocol</key>
			<string>http</string>
			<key>service</key>
			<string>_http._tcp.</string>
		</dict>
	</array>
</dict>
</plist>
