<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Bubbles</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.Growl.Bubbles</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>DISP</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>GRRR</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
	<key>NSPrincipalClass</key>
	<string>GrowlBubblesController</string>
	<key>CFBundleName</key>
	<string>Bubbles</string>
	<key>GrowlPluginAuthor</key>
	<string>Karl Adam and Timothy Hatcher</string>
	<key>GrowlPluginDescription</key>
	<string>Happy Bubbles!</string>
</dict>
</plist>
