body {
	margin: 0px 0px 0px 0px;
	font-family: sans-serif;
}
div.title {
	font-weight: bold;
	font-size: small;
}
div.text {
	font-size: x-small;
}
div.main {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: 180px;
	height: 82px;
	background-image: URL(Default.png);
	background-repeat: no-repeat;
}
div.icon {
	float: left;
	margin-right: 5px;
	width: 32px;
	height: 32px;
}
div.icon img {
	width: 32px;
	height: 32px;
}
