<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>GrowlTunes</string>
	<key>CFBundleIconFile</key>
	<string>GrowlTunes.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.Growl.GrowlTunes</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>G♫</string>
	<key>CFBundleVersion</key>
	<string>0.7</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>GrowlTunes</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSAppleScriptEnabled</key>
    <string>YES</string>
</dict>
</plist>
