<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conversionSettings</key>
	<dict>
		<key>addToiTunes</key>
		<false/>
		<key>addToiTunesPlaylist</key>
		<false/>
		<key>iTunesPlaylistName</key>
		<string>foo</string>
		<key>deleteSourceFiles</key>
		<false/>
		<key>outputDirectory</key>
		<string>~/Music</string>
		<key>overwriteExistingFiles</key>
		<false/>
		<key>postProcessingApplications</key>
		<array/>
		<key>useCustomNaming</key>
		<false/>
		<key>useCustomTemporaryDirectory</key>
		<false/>
		<key>useNamingFallback</key>
		<false/>
		<key>useTwoDigitTrackNumbers</key>
		<false/>
	</dict>
</dict>
</plist>
