<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emailAddress</key>
	<string></string>
	<key>freeDBPort</key>
	<integer>8880</integer>
	<key>freeDBProtocol</key>
	<integer>1</integer>
	<key>freeDBServer</key>
	<string>freedb.freedb.org</string>
	<key>freeDBUseProxy</key>
	<false/>
</dict>
</plist>
