<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paranoiaEnableLogging</key>
	<false/>
	<key>paranoiaEnable</key>
	<true/>
	<key>paranoiaLevel</key>
	<integer>0</integer>
	<key>paranoiaNeverSkip</key>
	<false/>
	<key>paranoiaMaximumRetries</key>
	<real>20</real>
</dict>
</plist>
