body
{
	margin: 0;
	padding: 0;
	border: 0;
}

div
{
	font-family: Lucida Grande;
	font-size: 11px;
	line-height: 14px;
}

div#icon
{
	position: absolute;
	top: 22px;

	width: 32px;
	height: 32px;
}

div#icon img
{
	width: 32px;
	height: 32px;
}

div#title
{
	color:					rgba(255, 255, 255, 1.0);
	text-shadow: 0 1px 2px	rgba(  0,   0,   0, 0.6);

	font-weight: bold;
	line-height: 19px;

	height: 16px;
	padding: 1px 10px 5px 10px;

	overflow: hidden;

//	background-color: #0096FF;
	background-image: url("images/row_background_noshadow.png");
	background-position: repeat-x top;
}

div#text
{
	padding: 3px 38px;

	overflow: hidden;
	
	background: url("images/row_shadow.png") repeat-x top;
}

div#spacer
{
	height: 32px;
}