body {
	margin: 0px 0px 0px 0px;
	padding: 6px 6px 6px 6px;
	border: thin solid black;
	font-family: sans-serif;
	min-height: 51px;
}

#background {
	background-color:#E0E0E0;
}

#icon {
	float: left;
	top: 10px;
	left: 10px;
	width: 32px;
	height: 32px;
	margin-right: 5px;
}

#icon img {
	width: 32px;
	height: 32px;
}

#title {
	font-weight:bold;
	font-size:small;
}

#text {
	font-size:x-small;
}

#emergency #text {
	color: red;
}
